[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
flake8 = "*"
pytest = "*"
sqlalchemy-utils = "*"

[packages]
flask = "*"
flask-api = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "pipenv run python ./run.py"
test = "pipenv run pytest -v ./test/test_api/test_simple_data.py"
