[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-api = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
cerberus = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"

[scripts]
app = "python ./run.py"
test = "python -m pytest -vv --cov=app"
