certifi==2019.9.11
Click==7.0
Flask==1.1.1
Flask-API==1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pipenv==2018.11.26
virtualenv==16.7.5
virtualenv-clone==0.5.3
Werkzeug==0.16.0
